#keep-me {
	background-color: #F2F0E4; /* good neutral accent color */
}

html, body {
	height:100%;
	padding:0;
	margin:0;
}

body {
	font-family: 'Roboto',sans-serif;
    display:flex;
    flex-direction: column;
    align-items:center;
	justify-content: flex-start;
	height:100%;
	padding:0;
	margin:0;
    overflow:auto;
}

input {
    max-height:30px;
    max-width:200px;
    margin: 0px;
	border:none;
}

#mega-header {
    display:flex;
    flex-direction: row;
    width:100%;
    max-height: 60px;
    min-height: 45px;
    align-items:center;
    justify-content:space-around;
    background-color: #01589d;
	border:0px;
	margin-bottom:0px;
}

#mega-header-content {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    width:100%;
    max-width:1080px;
    min-width:768px;
}

#mega-logo {
    display:flex;
    flex-direction: row;
    min-width:107px;
    align-items: center;
    justify-content: center;
    margin-right:auto;
}

#mega-header-nav {
    display:flex;
    flex-direction: row;
    width:50%;
    min-width: 500px;
    align-items: center;
    justify-content: space-between;
}

.mega-header-link, .mega-header-link:hover {
	color: #f1f1f1;
	text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    margin:0;
}

#title-span {
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: 'Roboto Condensed',sans-serif;
	margin-bottom: 20px;
}

#mobile-title-span {
	width:100%;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: 'Roboto Condensed',sans-serif;
	margin-bottom: 20px;
}

#page-title {
	color:#01589d;
	margin-top:20px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3)
}

#page-wrapper {
	max-width:1080px;
	min-width:1080px;
	height:100%;
	margin: 0px auto;
	padding:0px;
}

#column-wrapper {
	display:grid;
	grid-template-columns: 250px auto;
}

#left-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding:0px 10px 10px 0px;
	height:100%;
	max-height: 600px;
}

div#left-nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.side-nav-header {
	display:flex;
	align-items: center;
	width:100%;
	padding: 4px;
    color:#f1f1f1;
    background-color:#01589d;
	margin-left:-2px;
}

.side-nav-header h5 {
	margin-bottom:0px;
	font-size:16px;
	font-style: oblique;
}

#left-nav ul {
    padding:10px 0px 10px 10px;
    border-bottom:1px solid #EDEDED;
	margin:0px;
}

.menu-content {
	margin-bottom:auto;
}

.menu-content a {
}

#logo {
    min-width:107px;
    margin-right:auto;
	margin-left:auto;
}

#main-content {
	padding:2px 0px 0px 30px;
	max-height: 600px;
}

.page-title {
    font-family:"Roboto Condensed" sans-serif;
    font-size:1em;
    color:white;
    text-shadow: 20px 20px 20px 0px rgba(0,0,0,0.8);
}

#main-wrapper {
    display:flex;
    flex-direction: row;
}

.menu-content, .sidebar-title {
    width:100%;
}

.accordion-title:hover {
    color: #13a5dc;
    color: #01589d;
}

.accordion-title {
    background-color:#01589d;
    color:#EDEDED;
}

h6 {
    margin:0;
	font-size: 14px;
}

p {
    word-wrap: break-word;
}

a {
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
	cursor:pointer
}

p a {
	font-size: 16px;
	line-height: 1em;
}

.hidden {
    display:none
}

.showing {
    display:block
}

.full-width {
    width:100%;
}

.gold {
    background-color:#014A83;
    opacity: 0.8;
}

.title-gold {
    color:#fdc700;
}

.dark-blue {
    background-color: #015FAA;
    opacity: 0.8;
}

.med-blue {
    background-color: #006aad;
}

.title-blue-green {
    color:#007988;
}

.light-blue {
    background-color:#13a5dc;
}

.blue-green {
    background-color:#014A83;
    opacity: 0.8;
}

.orange {
    background-color:#014A83;
    opacity: 0.8;
}

.title-orange {
    color:#f29813
}

.green {
    background-color:#014A83;
    opacity: 0.8;
}

.title-green {
    color:#93c02d;
}

.pink {
    background-color:#da216d;
}

#contact,
#contact:hover {
	font-size:0.9em;
	text-decoration: none;
	width: 95%;
	min-height:23px;
	text-align: center;
	color: white;
	background-color: #AA1712;
	background-color: #93c02d;
	border-radius: 12px;
	margin-bottom: 12px;
	padding: 8px 2px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

#contact:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03)
}

/*    MEDIA QUERIES    */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    #header {
        height: 50px;
        border: none;
        align-items: center;
        justify-content: space-between;
        overflow:auto;
    }
    
    #logo-div {
        padding:0px;
        width:30%
    }

    #title-div, #categories, #navigation, #footer {
        display:none;
    }
    
    #nav-button {
        text-align: center;
        padding:0px;
    }
    
    h1 {
        font-size:2em;
    }
    
    h4 {
        font-size:12px;
    }
    
    #menu-icon-div {
        display:flex;
        align-items:center;
    }
    
    #adjusted {
        font-size:2em;
        align-items:center;
    }   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1028px) {
    #mega-header-content, #title-wrapper, #page-wrapper {
        max-width:900px;
        min-width:768px;
    }
    
    #main-content, #buttons-div {
        max-width:600px;
        min-width: 600px;
    }
    
    .project {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .project-thumb {
        width:150px;
        height:150px;
    }
    
    
} 

@media only screen and (max-width: 1080px) {
	#page-wrapper {
		padding:0 10px
	}
	
	#mega-header-content {
		margin: 0 10px;
		min-width: 0px;
	}
	
	#column-wrapper {
		grid-template-columns: 200px auto;
	}
	
	
}


@media only screen and (max-width: 480px) {
	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	#mega-header {
		padding: 10px 16px 12px 16px;
		margin-left: -16px;
		margin-right: -16px;
	}

	#mega-header-content {
		min-width: 0px;
		margin:0;
	}

	#mega-header-nav {
		display: none
	}

	body {
		width: 100%;
		overflow-x: hidden;
	}

	#page-wrapper {
		padding:0px 10px;
		min-width: 0px;
	}

	.menu-content,
	#left-nav {
		display: none
	}

	#column-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		grid-template: 1fr;
	}

	#main-content {
		padding: 10px;
		min-width: 0px;
		max-width: 414px;
		width: 100%;
	}
	
	#subtitle {
		font-size:12px
	}
	
	.card {
		min-height:180px;
	}
	
	.card > .thumb {
		display:none;
	}
	
	.card-description > p {
		font-size: 0.9em
	}

}