.banner-image {
    background: linear-gradient(to left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,1)), url(../images/map_background.jpg);
    width:100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1.0;
}

#cards {
	width:98%;
	padding:0px;
}

#cards a:hover {
	text-decoration: none;
}

.card {
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	height:114px;
	padding:20px;
    margin:0 0 30px 0;
	border-radius: 12px;
}

.card:hover {
}

.card-description {
	margin-left:16px;
}

.card-description p {
	margin-bottom: 0px;
	color:#4C4C4C;
}

.card-title {
	color:#01589d;
}

.thumb {
	display:flex;
	justify-content: center;
	align-items: center;
	min-width:100px;
	max-width:100px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 0 8px 0 rgba(0,0,0,0.1);
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 8px;
}

#current-page {
	color:white;
	background-color:#fdc700
}